{% extends 'books/base.html' %}
{% block body %}
    {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" src="{{item.image_url}}" height="150px">
            </div>
            <div class="col-md-4">
                <h4>{{item.original_title}}</h4>
                <h5>{{item.authors}}</h5>
                <h6>{{item.average_rating}}</h6>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn btn-success">Details</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}